body {
	background-image: url(../img/elascafe.jpg);
	background-size: cover;
	background-position: top center;
	opacity: 95%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	margin-top: 120px;
	padding-bottom: 5px;
}

.navbar{
	background-color:#333;
	color: rgb(188, 135, 238);
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	margin-top: 1rem;
}

section {
	background-color: #333;
	opacity: 80%;
	color: #FFF;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

img{
	border: 1px solid #FFF;
	border-radius: 10px;
	width: 30%;
}

.items{
	display: flex;
	justify-content: center;	
	align-items: center;
	padding: 10px;
}

#aperitivos ul, #lanches ul{
	list-style-type: none;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.items {
		display: flex;
		justify-content: left;
	}
	.navbar{
		margin: 1rem;
	}
}